**************************************************************************************************
*                                                                                                *
* DRILL TAPE SUMMARY REPORT                                                                      *
*                                                                                                *
* E:\00.LAVORI IN CORSO\METALTRONICA\25-335-0 ( CONTROLLO GENERATORE MAMMOGRAFICO)\25-335-0.MAX  *
* Fri Feb 06 13:18:04 2026                                                                       *
*                                                                                                *
**************************************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       79       413      200      100                                                                                 
T2       315      12       200      100                                                                                 
T3       394      11       200      100                                                                                 
T4       433      36       200      100                                                                                 
T5       1260     2        200      100                                                                                 
